<html>

<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
</head>

<body>
{% if lista_ultimas_tareas %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<div class="text-center">
				<h1 class="display-4">Detalles de tareas</h1>
		 	</div>
		</div>
    </div>

    <ul>

	<div class="card-columns">
		{% for tarea in lista_ultimas_tareas %}
			<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
				<div class="card-header">Tarea: <span class="badge badge-pill badge-primary">{{ tarea.titulo }}</span></div>
				<div class="card-body">
					<div class="text-center">
						<h5 class="card-title" >Descripción</h5>
					</div>
					<p> {{ tarea.descripcion }}</p>
					<br>
					<div class="text-center">
						<p class="card-text">Asignada a: </p>
					</div>
					<div class="text-right">
						<button type="button" class="btn btn-danger">{{ tarea.persona_asignada }}</button>
					</div>
					<br><br>
					<a id="email" >Email: </a>
					<a id="dir_email" href= mailto:{{tarea.persona_asignada.email}}>{{ tarea.persona_asignada.email }}</a>
				</div>
			</div>
		{% endfor %}
	</div>
    </ul>

{% else %}
  <div class="container">
	<div class="text-center">
	   <h1 class="display-4">No hay tareas para mostrar!!!</h1>
     </div>
  </div>
{% endif %}





</body>
</html>
